.container {
  height: 100vh;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.main {
  width: 400px;
  padding: 30px 0;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.card {
  margin: 20px 0;
}

.cardTitle {
  display: flex;
  justify-content: space-between;
}

.cardImage {
  width: 36px;
  height: 36px;
  margin-right: 10px;
}

.cardText {
  font-size: 14px;
}

.suggestionLabel {
  font-size: 14px;
}

.suggestion {
  resize: none;
  margin: 5px 0 10px 0;
  font-size: 14px;
}

.buttonContainer {
  display: flex;
}

.buttonContainer div {
  margin-left: auto;
}

.buttonContainer button {
  margin-left: 10px;
}